body
	margin: 0
	background-color: white
.wrapper-full
	width: 100%
	height: 100%
	display: block
	padding: 0
	margin: 0
	border: 0
	.content
		width: 1054px
		height: 100%
		padding: 0 15px 
		display: block
		margin: auto
		position: relative
		.content_topbar
			display: flex
			position: fixed
			top: 0
			height: 177px
			flex-direction: row
			justify-content: space-between
			.content_topbar_leftside
				padding-top: 25px
				.logo_header
					width: 188px
					height: 50px	
	.main-content
		height: 500px
		width: 1054px
		padding: 0 15px 
		display: block
		margin: auto
		background: pink


		